html, body {
  margin: 0;
  padding: 0;
	background-color: rgb(100, 100, 100);
	text-align: Center;
}
canvas {
  display: block;
	border: 10px ridge red;
 	margin: auto;
}
#wasd {
	position: absolute;
	top: 700px;
}
